/*----------------------------------------------
--Glyphicons Font Path
-----------------------------------------------  */
$icon-font-path:        "../fonts/";

/*----------------------------------------------
--Grid Settings
-----------------------------------------------  */
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*----------------------------------------------
--Colors
-----------------------------------------------  */
$brand-primary:         #27ae60;
$theme-dark:		rgba(86, 73, 11, 1);
$desert-yellow:		rgba(221, 175, 39, 1);
$white:			rgba(255, 255, 255, 1);
$shadow:		rgba(255, 255, 255, 0.45);

/*----------------------------------------------
--MQs
-----------------------------------------------  */
$mq-xsmall: 22em;
$mq-small: 36em;
$mq-med: 58em;
$mq-large: 86em;
$mq-xlarge: 115em;
$mq-xxlarge: 125em;
$mq-xxxlarge: 145em;
