// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$theme-dark:		rgba(86, 73, 11, 1);
$desert-yellow:		rgba(221, 175, 39, 1);
$white:			rgba(255, 255, 255, 1);
$shadow:		rgba(255, 255, 255, 0.75);
