.catalog {
        width: 100%;
	min-height: 100vh;
	overflow: hidden;
	perspective: 1000;
        .container {
		width: 400%;
		height: 100vh;
		.panel {
	                width: 25%;
	                height: 100vh;
			float: left;
		        position: relative;
		        display: table;
			.row {
		                position: relative;
		                display: table-cell;
		                vertical-align: middle;
		                z-index: 1;
				font-family: 'Ravi Prakash';
				font-weight: 400;
				font-size: 10em;
				text-transform: uppercase;
				text-shadow: 1px 1px 1px rgba($theme-dark, 0.3);
		                text-align: center;
				color: $theme-dark;
		                background-color: rgba($desert-yellow, 0);
		                perspective: 600;
				h1 {
					position: relative;
					width: 100%;
					margin: auto;
				}
				h1:hover {
					transform: scale(1.2);
				}
		                .rotating-animation {
		                        position: absolute;
		                        top: 60vh;
		                }
		                .overlay {
		                        width: 50%;
		                        max-width: 250px;
		                        transition-property: transform;
		                        transition-duration: 1.8s;
		                        transition-timing-function: ease-out;
		                        transition-delay: 0.2s;
		                }
		                .overlay:hover {
		                        transform: rotateY(20deg);
		                        transform: rotateX(20deg);
		                }
				.catalog-image {
					width: 80%;
					margin: 0 auto;
				}
			}
        	}
        }
}
