.banner {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;
	.container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		background-color: $desert-yellow;
		width: 100%;
		text-align: center;
		perspective: 1000;
		.rotating-animation {
			position: absolute;
			top: 55vh;
		}
		.scaling-animation {
			position: absolute;
			top: 55vh;
		}
		.overlay {
			transform-style: preserve-3d;
		}
		.brand {
			font-family: 'Yanone Kaffeesatz';
			font-weight: 700;
			font-size: 10em;
			text-transform: uppercase;
			text-decoration: none;
			text-shadow: 1px 1px 1px $shadow;
			color: $theme-dark;
		}
	}
}
