.banner {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;
	.underlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		z-index: 1;
		background-image: url("https://s3.ap-northeast-2.amazonaws.com/eyegear/malcolm-x-800x1200px.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		@media (min-width: $mq-med) {
			background-image: url("https://s3.ap-northeast-2.amazonaws.com/eyegear/malcolm-x-1920x1080px.jpg");
		}
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		z-index: 2;
		background-color: rgba($desert-yellow, 1);
		opacity: 0.4;
		padding-top: 2em;
		padding-left: 2em;
		font-family: 'Six Caps';
		font-weight: 400;
		font-size: 5em;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		color: $white;
		.fadeout-animation {
			position: absolute;
			top: 55vh;
		}
	}
	.container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		z-index: 3;
		background-color: rgba($desert-yellow, 0);
		text-align: center;
		perspective: 600;
		.scaling-animation {
			position: absolute;
			top: 50vh;
		}
		.brand {
			font-family: 'Yanone Kaffeesatz';
			font-weight: 700;
			font-size: 10em;
			text-transform: uppercase;
			text-decoration: none;
			text-shadow: 1px 1px 1px $shadow;
			color: $theme-dark;
			transition-property: transform;
			transition-duration: 1.8s;
			transition-timing-function: ease-out;
			transition-delay: 0.2s;
		}
		.brand:hover {
			transform: scale(0.8);
		}
		.rotating-animation {
			position: absolute;
			top: 60vh;
		}
		.overlay {
			width: 50%;
			max-width: 250px;
			transition-property: transform;
			transition-duration: 1.8s;
			transition-timing-function: ease-out;
			transition-delay: 0.2s;
		}
		.overlay:hover {
			transform: rotateY(20deg);
			transform: rotateX(20deg);
		}
	}
}
