.banner {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;
	.container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		background-color: $desert-yellow;
		width: 100%;
		text-align: center;
		perspective: 600;
		.rotating-animation {
			position: absolute;
			top: 60vh;
		}
		.scaling-animation {
			position: absolute;
			top: 50vh;
		}
		.overlay {
			width: 50%;
			max-width: 250px;
			transition-property: transform;
			transition-duration: 2.5s;
			transition-timing-function: ease-out;
			transition-delay: 0.5s;
		}
		.overlay:hover {
			transform: rotateY(360deg);
		}
		.brand {
			font-family: 'Yanone Kaffeesatz';
			font-weight: 700;
			font-size: 10em;
			text-transform: uppercase;
			text-decoration: none;
			text-shadow: 1px 1px 1px $shadow;
			color: $theme-dark;
		}
	}
}
