.pitch {
	position: relative;
	display: table;
	width: 100%;
	.container {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		background: $white url('https://s3.ap-northeast-2.amazonaws.com/eyegear/lightmesh.png') repeat center center;
		width: 100%;
		padding: 2em 0;
		text-align: center;
                .pitch-animation {
                        position: absolute;
                        margin-top: 0;
                }
		.pitch-text {
			min-width: 50px;
			max-width: 50%;
			margin: 1em auto;
			padding: 0 1em;
			font-family: 'Yanone Kaffeesatz';
			font-weight: 700;
			font-size: 2em;
			text-transform: lowercase;
			text-shadow: 1px 1px 1px rgba($white, 0.4);
			line-height: 2em;
			color: $theme-dark;
			border: 2px solid $theme-dark;
			border-radius: 2px;
			transition: all 0.5s;
			strong {
				font-family: 'Ravi Prakash';
				font-weight: 400;
				font-size: 1.5em;
			}
			a {
				text-decoration: none;
				color: $theme-dark;
			}
		}
		.pitch-text:hover {
			color: rgba($white,1);
			background-color: rgba($theme-dark,0.9);
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
	}
}
